﻿<%@ Page Title="" Language="VB" MasterPageFile="~/REPORT.master" AutoEventWireup="false" CodeFile="ShowMultipleAttachments.aspx.vb" Inherits="ShowMultipleAttachments" EnableEventValidation="false" %>
<%@ MasterType VirtualPath="~/REPORT.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="CPH" runat="Server">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <div id = "divSection1" class = "sec1" style="width:97%;background-color:#FFE4E1;margin:0px auto; height:auto; border-radius:25px;">
        <%--  <table style="width:90%;height:90px;margin:0px auto;">
            <tr> --%>
            <asp:Panel ID="pnDisplay" runat="server" Width="100%">
            </asp:Panel>
           <%-- </tr>
            </table>--%>
      </div>
    </div>
    </form>
</body>
</html>
</asp:Content>
