﻿<%@ Page Title="" Language="VB" MasterPageFile="~/ESFB.master" AutoEventWireup="false" CodeFile="View_SalaryInputData_Excel.aspx.vb" Inherits="View_SalaryInputData_Excel" %>

<asp:Content ID="Content1" ContentPlaceHolderID="CPH" Runat="Server">
    <link href="../../../Style/Style.css" rel="stylesheet" type="text/css" />
<div>
    
    </div> 
    <script language="javascript" type="text/javascript">
// <![CDATA[

        function btn_Exit_onclick() {
        window.open("<%= Page.ResolveUrl("~")%>Home.aspx", "_self");
        }
        

// ]]>
    </script>
</asp:Content>

