﻿<%@ Page Title="" Language="VB" MasterPageFile="~/ESFB.master" AutoEventWireup="false" CodeFile="Update_Salary_Inform_AM.aspx.vb" Inherits="Update_Salary_Inform_AM" %>
<%@ MasterType VirtualPath="~/ESFB.master"%>
<asp:Content ID="Content1" ContentPlaceHolderID="CPH" Runat="Server">
<head>
<title></title>
<link href="../../Style/Style.css" rel="stylesheet" type="text/css" />
<link href="../../Style/Style.css" type="text/css" rel="Stylesheet"/>


<script src="../../Script/Validations.js" type="text/javascript"></script>


<script language="javascript" type="text/javascript">

 


     function FromServer(arg, context) {
         if (context == 4) {        
            var Data = arg;
            if (Data != "") {     
                ComboFill(Data, "<%= cmbBranch.ClientID %>");            
            }
            
        }
    } 




        function ComboFill(data, ddlName) {
            document.getElementById(ddlName).options.length = 0;
            var rows = "";
            var rows = data.split("Ñ");
            for (a = 1; a < rows.length; a++) {
                var cols = rows[a].split("ÿ");
                var option1 = document.createElement("OPTION");
                option1.value = cols[0];
                option1.text = cols[1];
                document.getElementById(ddlName).add(option1);
            }
        }



        function areachange(){
            var ToData = "4Ø" + document.getElementById("<%= cmbArea.ClientID %>").value;
            ToServer(ToData, 4);
        }



        function branchchange() {
            var BranchId= document.getElementById("<%= cmbBranch.ClientID %>").value;
            var BranchName=document.getElementById("<%= cmbBranch.ClientID %>").options[document.getElementById("<%= cmbBranch.ClientID %>").selectedIndex].text;
            
            window.open("Update_Salary_Inform.aspx?BranchID=" + btoa(BranchId) + "&BranchName=" + btoa(BranchName), "_self");
        }


       



    function btnExit_onclick() {
        window.open("<%= Page.ResolveUrl("~")%>Home.aspx", "_self");
    }

</script>
<script language="javascript" type="text/javascript" for="window" event="onload">
// <![CDATA[
return window_onload()
// ]]>
</script>
</head>
 <table style="width: 100%;margin: 0px auto;background-color:#EEB8A6;">
    <tr>
        <td colspan="5" style="width:100%; height: 23px;"></td>
    </tr>
    <tr>
        <td style="width:10%;"></td>
        <td style="width:15%;"></td>
        <td style="width:10%; text-align: left;font-family:Cambria;">
            Area Name</td>
        <td  style="width:45%;">
                <asp:DropDownList ID="cmbArea" Style="font-family: Cambria;" runat="server"
                Width="80%">
                <asp:ListItem Value="-1">-------- Select -------</asp:ListItem>
            </asp:DropDownList>
        </td>
        <td style="width:10%;"></td>
    </tr>
    <tr>
        <td style="width:10%;"></td>
        <td style="width:15%;"></td>
        <td style="width:10%; text-align: left;font-family:Cambria;">
            Branch Name</td>
        <td  style="width:45%;">
            <asp:DropDownList ID="cmbBranch" Style="font-family: Cambria;" runat="server"
                Width="80%">
                <asp:ListItem Value="-1">-------- Select -------</asp:ListItem>
            </asp:DropDownList>
        </td>
        <td style="width:10%;"></td>
    </tr>
    
    <tr>
        <td colspan="5" style="width:100%; height: 12px;"></td>
    </tr>
    <tr>
        <td style="text-align: center; font-family:Cambria;" colspan="5">               
            <input id="btnExit" style="font-family: cambria; cursor: pointer; width:6%; height: 25px;" 
                type="button" value="EXIT"  onclick="return btnExit_onclick()" />
        </td>
    </tr>
 </table>
</asp:Content>

