﻿<%@ Page Title="" Language="VB" MasterPageFile="~/REPORT.master" AutoEventWireup="false" CodeFile="BlockMobileSession.aspx.vb" Inherits="BlockMobileSession" EnableEventValidation="false" %>
<%@ MasterType VirtualPath="~/REPORT.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="CPH" runat="Server">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .style1
        {
            color: #0000FF;
        }
        .style2
        {
            color: #FF0000;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div class="style1"><strong>
        <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="style2"> 
        You are not allowed to use this option. Please use 'Attendance' link of Login Page to mark attendance !.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='../../Home.aspx'>Back</a></span></strong></div>
    </form>
</body>
</html>
</asp:Content>