<%@ Page Title="" Language="VB" MasterPageFile="~/ESFB.master" AutoEventWireup="false" CodeFile="Home.aspx.vb" Inherits="Home"%>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="asp" %>
<asp:Content ID="Content1" ContentPlaceHolderID="CPH" Runat="Server">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <link href="Style/Menu.css" rel="stylesheet" type="text/css" />   
    </head>
</html><br />
    <div>
        <asp:Menu ID="menuBar" runat="server" CssClass="Menu" Orientation="Horizontal"   
            MaximumDynamicDisplayLevels="10"  >            
            <StaticMenuItemStyle BackColor="#B71c1c"  ForeColor="White"  />
            <StaticHoverStyle BackColor="#B71c1c" />           
            <DynamicMenuItemStyle BackColor="#EF9A9A"  ForeColor="black" 
                BorderColor="#FFEBEE" BorderStyle="Solid" BorderWidth="1px" />
            <DynamicHoverStyle BackColor="#FFEBEE"  ForeColor="black"/>           
        </asp:Menu>
    </div>
<div style="text-align: left">
    <table style="width: 100%; text-align:center;">
        <tr>
            <td style="width: 100px; padding-left:10px; padding-top:10px;  ">
                <div id="MenuContainer">
                     <asp:HiddenField ID="hidModule" runat="server" />
	            </div>
                <asp:HiddenField ID="hidMenu" runat="server" />
                <asp:HiddenField ID="hid_Dtls" runat="server" />
                <asp:HiddenField ID="hid_Branch" runat="server" />
                <asp:HiddenField ID="hidNews" runat="server" />
            </td>
        </tr>
    </table>
    <div id="MainContents" style="background-color:White; height:350px;padding-left:20px;"></div> 
</div>
<div style="width:100%">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
</asp:Content>
