﻿<%@ Page Title="" Language="VB" MasterPageFile="~/REPORT.master" AutoEventWireup="false" CodeFile="Popup.aspx.vb" Inherits="Popup" EnableEventValidation="false" %>
<%@ MasterType VirtualPath="~/REPORT.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="CPH" runat="Server">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .style1
        {
            color: #E31E24;
            text-align:center;
            height : auto;
           
        }
         .style2
        {
            color: #0000FF;
            background-color:#E31E24;
        }
    </style>
</head>
<body onload="pageInit(); width:100%; height:100%"  class="style2">
    <form id="login_form" runat="server">

        <div style="height:200px; padding-top:0px; padding-top:10px; padding-bottom:10px;"><img src="Image/Logo.png" style="width:435px; height:100px;"/></div>
        <div id="MainContents" style="background-color:White; height:250px; float:none; text-align:center;"><br />
        
        <div class="style1"><strong style="padding:0px;">
       </strong>&nbsp;&nbsp;&nbsp;&nbsp;
 <table align="center" style="width: 100%;">
      <tr>
            <td style="width:20%; font-size: medium;">
                &nbsp;</td>
            <td  style="text-align:center; width:70%; font-size: medium; ">

 <b>Dear Employee, Your attendance are  missing in e-web , so please mark leave or regularize before 20th of the month to avoid LOP.Also ensure approval from reporting officer. For details please see the Punching report.
 &nbsp;</b> </td>
            <td  style="width:10%; font-size: medium;">
                &nbsp;</td>
        </tr>
        <tr>
            <td style="width:20%; font-size: medium;">
                &nbsp;</td>
            <td  style="text-align:left;width:70%; font-size: medium;">
                &nbsp;</td>
            <td  style="width:10%; font-size: medium;">
                &nbsp;</td>
        </tr>
        <tr  style="height:40px;">
            <td style="width:20%;">
                &nbsp;</td>
            <td   style="text-align:center; width:70%;font-size: medium;">
              <input id="Button1" style="font-family: cambria; cursor: pointer; width: 10%; " 
                type="button" value="OK" onclick="window.open('Portal.aspx','_self')" />     </td>
            <td  style="width:10%;">
                &nbsp;</td>
        </tr>
         </table>
        </div>
        </div>
    </form>
</body>
</html>
</asp:Content>