﻿<%@ Page Title="" Language="VB" MasterPageFile="~/ESFB.master" AutoEventWireup="false" CodeFile="FormDownLoad.aspx.vb" Inherits="Operations_FormDownLoad" %>

<asp:Content ID="Content1" ContentPlaceHolderID="CPH" Runat="Server">
    <table align="center" style="width: 100%; margin:0px auto;">
        <tr>
            <td style="width:5%">
                &nbsp;</td>
            <td style="width:95%">
                &nbsp;</td>
           
           
        </tr>
        <tr>
            <td style="width:5%">
                &nbsp;</td>
            <td style="width:95%">
                &nbsp;</td>
           
           
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                1.&nbsp;&nbsp;<a href="viewDownload.aspx?ID=1" target="_blank">Form 15 G</a> </td>
           
           
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                2.&nbsp;&nbsp;<a href="viewDownload.aspx?ID=1" target="_blank">Form 15 H</a> </td>
           
        </tr>
    </table>
</asp:Content>

