﻿<%@ Page Title="" Language="VB" MasterPageFile="~/REPORT.master" AutoEventWireup="false" CodeFile="viewDownload.aspx.vb" Inherits="Operations_viewDownload" EnableEventValidation="false" %>
<%@ MasterType VirtualPath="~/REPORT.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="CPH" runat="Server">

<html xmlns="http://www.w3.org/1999/xhtml">

<body>
    <form id="form1" runat="server">
    <div style="float:right; margin-right:10px;"><img src="../Image/close.png" onclick=window.open("../Home.aspx","_self") style="width:30px;height:30px; cursor:pointer;" title="Close" /></div>
    <div>
    <iframe id="iframe" runat="server"  width="100%" height="650px" frameborder="0" scrolling="no" seamless="" ></iframe> 
    </div>
    </form>
</body>
</html>
</asp:Content>