﻿<%@ Page Title="" Language="VB" MasterPageFile="~/ESFB.master" AutoEventWireup="false" EnableEventValidation="false" CodeFile="Delivarable_excel_upload.aspx.vb" Inherits="DelivarableUpload" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="asp" %>
<%@ MasterType VirtualPath="~/ESFB.master"%>
<asp:Content ID="Content2" ContentPlaceHolderID="CPH" Runat="Server">
 
 <style type="text/css">
        .style1
        {
            width: 40%;
            height: 104px;
            border : 1px solis black;
        }
        .style2
     {
         width: 14%;
     }
        .fileUpload
     {
         margin-top: 0px;
     }
        .style5
     {
         width: 14%;
         height: 25px;
     }
        .style7
     {
         width: 20%;
         
     }
        .style8
     {
         width: 16%;
     }
     .style9
     {
         width: 30%;
         height: 42px;
         
     }
        </style>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../Style/Style.css" rel="stylesheet" type="text/css" />
    <script src="../../Script/Validations.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
  
        function UploadOnClick() 
        {     
        
                
         } 
 
    function FromServer(arg, context) 
    
    {   //alert(arg);          
        if (context == 1) 
        {
            var Data = arg.split("Ø");
            alert(Data[1]);
            if (Data[0] == 0)
            {
       
            }        
        }
        else if (context == 2)
        {    
            pnlDisplay(arg);
        }
        else if (context == 3)
        {    
         
            //alert("combofil Successfull");
            if (arg == null){
            return false;
            }
            else{
            ComboFill(arg, "<%= cmbCategory.ClientID %>");
            
            //window.open("Catchment_Area_Pincode.aspx", "_self"); 
            }

        }
       
    }  
    function ComboFill(data, ddlName) {
                document.getElementById(ddlName).options.length = 0;
                var rows = data.split("Ř");
                for (a = 1; a < rows.length; a++) {
                    var cols = rows[a].split("Ĉ");
                    var option1 = document.createElement("OPTION");
                    option1.value = cols[0];
                    option1.text = cols[1];
                    document.getElementById(ddlName).add(option1);
                }
            }

 function CategoryOnChange(){

            document.getElementById("<%= hidType.ClientID %>").value=document.getElementById("<%= CmbType.ClientID %>").value;
            document.getElementById("<%= hidCategory.ClientID %>").value=document.getElementById("<%= cmbCategory.ClientID %>").value;
            document.getElementById("<%= hidUpload_date.ClientID %>").value=document.getElementById("<%= txtUploadDt.ClientID %>").value;
      return false;
 }
        
         function btnExit_onclick() {
            window.open("<%= Page.ResolveUrl("~")%>Home.aspx", "_self");
        }


   
    </script>
   
</head>
</html>
<br />
    <asp:HiddenField ID="hdnValue" runat="server" />
    <br />

 <table class="style1" style="width:80%; text-align:center;margin: 1px auto;">
 <tr>
  <asp:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
            </asp:ToolkitScriptManager>
 </tr>
    <tr>
    <td style="width: 10%">&nbsp;</td>
            <td style="text-align:center;Font-Size:11pt; padding-left:35px;" class="style5" >Date of Upload</td>
                <td>
                <asp:TextBox ID="txtUploadDt" class="NormalText" runat="server"  Height="20px"
                    Width="35%" onkeypress="return false" ></asp:TextBox>
                <asp:CalendarExtender ID="txtUploadDt_CalendarExtender" runat="server" 
                    Enabled="True" TargetControlID="txtUploadDt" Format="dd MMM yyyy">
                </asp:CalendarExtender>
                </td>
                        <td style="width: 10%">&nbsp;</td>
    </tr>
         <tr>
            
            <td style="width: 10%">&nbsp;</td>
                <td style="text-align:center;Font-Size:11pt;padding-left:47px;" class="style5">Delivarable Type</td>
                    <td ><asp:DropDownList ID="CmbType" style="text-align:left;" 
            runat="server" Height="20px" Width="35%">
            </asp:DropDownList></td>
                        <td style="width: 10%">&nbsp;</td>
                       
         </tr>


                        
       <tr>
         <td style="width: 10%">
                        &nbsp;</td>
           <td style="text-align:center;Font-Size:11pt" class="style5">Category</td>
                <td ><asp:DropDownList ID="cmbCategory" style="text-align:left;" 
                             runat="server" Height="20px" Width="35%">
                </asp:DropDownList></td>
                
                </tr>
                
             
                
               
        <tr>
          <td style="width: 10%"> &nbsp;</td>
         <td style="text-align:center;">
                    <td style="text-align:left;padding-right:126px;display=initial;"  class="style7">
                    <asp:FileUpload ID="fileUpload" runat="server" CssClass="fileUpload" 
                        Height="20px" style="font-family: cambria; cursor: pointer; width: 220px; border:1px silver;" />
          </td>
                       
           </tr>
                 <tr>
                  <td style="width: 10%;text-align:center;">&nbsp;</td>
                <td style="text-align:right;Font-Size:12pt; " class="style9" >
                 <asp:button ID="btnUpload" runat="server"  text="UPLOAD" onclick="btnImport_Click" style="font-family: cambria; cursor: pointer; width: 110px;"/>
          <%-- --%>
               </td>
                         <td style="width: 10%;">  <input id="btnExit" style="font-family: cambria; cursor: pointer; width: 110px;padding-right:10px;" 
                type="button" value="EXIT" onclick="return btnExit_onclick()" /></td>
                          <td style="width: 10%"> &nbsp;</td>


        </tr>
 
             
          <%--  <td class="style2">
               <asp:CheckBox ID="ChkbxSpeed" style="text-align:left;display:initial;" runat="server" Font-Names="Times New Roman"
                    Font-Size="11pt" Text="Packing Slip" Width="35%"  AutoPostBack="True"/>
                     &nbsp;&nbsp;&nbsp;&nbsp;<div id="DivSpeed" style="text-align:left;">
                         <br /><td>
                    <asp:FileUpload ID="fileSpeed" style="padding-left:6px;" runat="server" CssClass="fileUpload" /></td>
                </div>
            </td>
            --%>
            
   

        <asp:HiddenField ID="hid_OTP" runat="server" />
        <asp:HiddenField ID="hidStringData" runat="server" />
        <asp:HiddenField ID="hidData" runat="server" />
        <asp:HiddenField ID="hidType" runat="server" />
        <asp:HiddenField ID="hidCategory" runat="server" />
        <asp:HiddenField ID="hidUpload_date" runat="server" />
</table>    

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

</asp:Content>

