﻿<%@ Page Title="" Language="VB" MasterPageFile="~/ESFB.master" EnableEventValidation="false" AutoEventWireup="false" CodeFile="HistoryRpt.aspx.vb" Inherits="HistoryRpt"  %>

<%@ MasterType VirtualPath="~/ESFB.master"%>
<asp:Content ID="Content1" ContentPlaceHolderID="CPH" Runat="Server">
    <link href="../../Style/bootstrap-3.1.1.min.css" rel="stylesheet" type="text/css" />
<br />
    <table align="center" style="width: 40%; text-align:center; margin:0px auto;">
    <tr>
            <td style="width:15%;">
                Item</td>
           <td  style="width:85%;">
                 <asp:DropDownList ID="cmbItem" class="NormalText" runat="server" Font-Names="Cambria"
         Width="90%" ForeColor="Black" >
         <asp:ListItem Value="0">--Select--</asp:ListItem>
         <asp:ListItem Value="-1">Checklist</asp:ListItem>
         <asp:ListItem Value="1">Task</asp:ListItem>
              
                </asp:DropDownList>
                 <br />
                </td>
           
        </tr>
    <tr  id="trchecklist" style="display:none">
    <td style="width:15%;">
    Checklist</td>
    <td  style="width:85%;">
    <asp:DropDownList ID="cmbChecklist"  class="NormalText" runat="server" Font-Names="Cambria" 
    Width="90%" ForeColor="Black">
    </asp:DropDownList>
    </td>
    </tr>
    <tr  id="trtask" style="display:none">
    <td style="width:15%;">
    Task</td>
    <td  style="width:85%;">
    <asp:DropDownList ID="cmbtask"  class="NormalText" runat="server" Font-Names="Cambria" 
    Width="90%" ForeColor="Black">
    </asp:DropDownList>
    </td>
    </tr>

           

 
       
         <tr>
            <td style="width:30%;">
               <%-- Discussion Status--%></td>
            <td  style="width:85%;">
             
                 </td>
           
        </tr>
        <tr>
            <td style="width:15%; height: 18px; text-align:center;" colspan="2">
             
              <input id="btnView" style="font-family: Cambria; cursor: pointer; width: 67px;" 
                type="button" value="VIEW"   onclick="return btnView_onclick()" onclick="return btnView_onclick()" />&nbsp;&nbsp;
                
                <input id="cmd_Export_Excel" style="font-family: Cambria; cursor: pointer; width: 87px;" 
                type="button" value="VIEW EXCEL" onclick="return btnExcelView_onclick()" />&nbsp;&nbsp;
                <input id="btnExit" style="font-family: Cambria; font-size: 10pt; width: 10%" 
                type="button" value="EXIT"  onclick="return btnExit_onclick()" /></td>
          
      
        </tr>
        <tr>
            <td style="width:15%;">
                &nbsp;</td>
            <td  style="width:85%;">
                &nbsp;</td>
        </tr>
        <tr>
            <td style="width:15%;">
                &nbsp;</td>
            <td  style="width:85%;">
                &nbsp;</td>
        </tr>
        <tr>
            <td style="width:15%;">
                &nbsp;</td>
            <td  style="width:85%;">
                <asp:HiddenField ID="hdnReportID" runat="server" />
            </td>
        </tr>
        <tr>
            <td style="width:15%;">
                &nbsp;</td>
            <td  style="width:85%;">
                &nbsp;</td>
               
                 <asp:HiddenField ID="hdnValue" runat="server" />
        </tr>
    </table>
    <script language="javascript" type="text/javascript">
     
    function btnExit_onclick() 
    {
        window.open("<%= Page.ResolveUrl("~")%>Home.aspx","_self");
    }
    function ChecklistOnChange()
    {
        document.getElementById("trtask").style.display = '';
        if(document.getElementById("<%= cmbItem.ClientID %>").value==-1)
        document.getElementById("trtask").style.display = 'none';
        var checkid = document.getElementById("<%= cmbchecklist.ClientID %>").value
        ToServer("2Ø" + checkid, 2);
    }
     
      
         function ItemOnChange()
            {
                    
              var Item = document.getElementById("<%= cmbItem.ClientID %>").value;          
              
              if(document.getElementById("<%= cmbItem.ClientID %>").value==-1)
              {
                   
                    document.getElementById("trchecklist").style.display = '';
                    document.getElementById("trtask").style.display = 'none';
                    //ToServer("1Ø", 1);

              }
              else
              {
                    document.getElementById("trchecklist").style.display = '';
                    document.getElementById("trtask").style.display = '';
              }
                ToServer("1Ø", 1);
            }
            
    function btnView_onclick() 
        {
            var Item = document.getElementById("<%= cmbItem.ClientID %>").value;
            if (Item == -1)
            var type = document.getElementById("<%= cmbChecklist.ClientID %>").value;
            else if( Item == 1)
            var type = document.getElementById("<%= cmbtask.ClientID %>").value;
            var Checklist = document.getElementById("<%= cmbChecklist.ClientID %>").value; 
                        window.open("ViewHistoryChecklistReport.aspx?ViewType=-1 &item=" + Item + " &type=" +  type + "", "_self");                   
       }  
       function btnExcelView_onclick() 
        {
            var Item = document.getElementById("<%= cmbItem.ClientID %>").value;
            if (Item == -1)
            var type = document.getElementById("<%= cmbChecklist.ClientID %>").value;
            else if( Item == 1)
            var type = document.getElementById("<%= cmbtask.ClientID %>").value;
            var Checklist = document.getElementById("<%= cmbChecklist.ClientID %>").value; 
                        window.open("ViewHistoryChecklistReport.aspx?ViewType=1 &item=" + Item + " &type=" +  type + "", "_self"); 
            }        
   function ComboFill(data, ddlName) {
            document.getElementById(ddlName).options.length = 0;
            var rows = data.split("Ñ");
            for (a = 1; a < rows.length; a++) {
                var cols = rows[a].split("ÿ");
                var option1 = document.createElement("OPTION");
                option1.value = cols[0];
                option1.text = cols[1];
                document.getElementById(ddlName).add(option1);
            }
        }
       
     function FromServer(arg, context) {

         switch (context) 
         {
            case 1:
                {                   
                            ComboFill(arg, "<%= cmbChecklist.ClientID %>");
                            break;
                }
             
               
            case 2:
               {    
                         
                    ComboFill(arg, "<%= cmbtask.ClientID %>");
                    break;
                    
                }                            
              
             }
          }

    </script>
</asp:Content>

 