﻿<%@ Page Title="" Language="VB" MasterPageFile="~/REPORT.master" AutoEventWireup="false" CodeFile="aaa.aspx.vb" Inherits="Audit_Reports_aaa" EnableEventValidation="false" %>
<%@ MasterType VirtualPath="~/REPORT.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="CPH" runat="Server">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script language="javascript" type="text/javascript">
        function Button1_onclick() 
        {
            openWindow();
        }

        function openWindow() 
        {
            var curr_browser = navigator.appName;
            alert(curr_browser);
//            if (curr_browser == "Microsoft Internet Explorer") 
//            {
//                window.opener = self;
//            }
//            window.open('aa.aspx','location=no');
            //window.moveTo(0, 0);
            //window.resizeTo(screen.width, screen.height - 100);
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <input id="Button1" type="button" value="button" onclick="return Button1_onclick()" /></div>
        <div>

<a href="javascript:void(0);" onclick="javascript:window.location.href='aa.aspx'">New Form</a>

</div>
    </form>
</body>
</html>
</asp:Content>
