﻿*                           {	padding:0; margin-left: 0px; margin-right: 0px;
}
img                         {	cursor:hand;                                                                                                            }
body,div,ul,li              {   background-color:transparent; color:#47476B; font-family: Cambria; font-size: 10.5pt; margin:0px;     }
table,tr,td                 {   background-color:transparent; color:#47476B; font-family: Cambria; font-size: 10.5pt; text-align: center;
}

/* Master Page Settings -- Main & Sub Heading */

#panel,#flip,#Minimize
{
padding:5px;
text-align:center;
background-color:#e5eecc;
border:solid 1px #c3c3c3;
}
#panel
{
padding:50px;
display:none;
}
#menu
{
padding-left:5px;
text-align:left;

}

#btnSignOut,#btnHome
{
    padding-left:25px;
    height:32px;
    width:32px;
    display:block;
    cursor:pointer;
}
#btnDownLoad
{
    padding-left:25px;
    height:56px;
    width:131px;
    display:block;
    cursor:pointer;
}
#btnDownLoad:hover
{
    height:57px;
    width:132px;
}
#btnSignOut:hover,#btnHome:hover
{
    height:35px;
    width:35px;
}



.Heading
{
	width:100%; height:150px;
	font-family:Trebuchet MS;
	font-size:large;
	font-weight:bold;
	text-align:center;
    color:#FFF; /* Color Equivalent to Gainsboro */
	/*background:-moz-linear-gradient(bottom,#B21C32,#E31E24);
	background:-o-linear-gradient(bottom,#B21C32,#E31E24);
	background:-webkit-linear-gradient(bottom,#B21C32,#E31E24);
	background:-ms-linear-gradient(bottom,#B21C32,#E31E24);
	
	
	background-image: url(../Image/head.png);
	background-repeat:repeat-x;*/
	background-color:#d0262d;
}
.LeftPortion
{
	width:18%; height:140px;
	font-family:Trebuchet MS;
	text-align:left;
	background-color:transparent;
    color:#FFF; /* Color Equivalent to Gainsboro */
	padding-left:10px;    
}
.MiddlePortion
{
	width:60%; height:140px;
	font-family:Cambria;
	text-align:center;
	background-color:transparent;
    color:#FFF; /* Color Equivalent to Gainsboro */
	padding-left:10px;    
}
.RightPortion
{
	width:18%; height:140px;
	font-family:Cambria;
	text-align:center;
	background-color:transparent;
    color:#FFF; /* Color Equivalent to Gainsboro */
	padding-left:10px;    
}
.LeftHeading
{
	font-family:Cambria;
	text-align:left;
    color:#FFF; /* Color Equivalent to Gainsboro */    
    background-color:transparent;

}
.MiddleHeading
{
	font-size:large;
	font-weight:bold;
	text-align:center;
    color:#FFF; /* Color Equivalent to Gainsboro */ 
    background-color:transparent;   
}
.RightHeading
{
    color:#FFF; /* Color Equivalent to Gainsboro */    
    background-color:transparent;
}

.Footer
{
	width:100%; 
	height:20px;
	font-family:Trebuchet MS;
	font-size:small;
	font-weight:normal;	
    /*padding-left:10px;*/
	text-align:center;
	/*background:-moz-linear-gradient(bottom,#B21D00,#B21C32);
	background:-o-linear-gradient(top,#B21C32,#B21D00);
	background:-webkit-linear-gradient(top,#B21C32,#B21D00);
	background:-ms-linear-gradient(top,#B21C32,#B21D00);
	background-image: url(../Image/head.png);
	background-repeat:repeat-x;*/
	box-shadow: inset 0 0 10px #E31E24;
}   
/* End of Master Page Settings */
.Content
{
	width:100%;
	height:450px;
}
td,th
{
    padding-left:0px;
    text-align:left;
}
.mainhead
{
   border:9px;background-color:#EEB8A6; height:25px;font-size:10;color:white;
}

.sub_first
{
   background-color:#FFFFF0; height:15px;
   font-family:Cambria;color:#47476B;font-size:5px;
}

.sub_second
{
   background-color:#DEC9C2; height:15px;
   font-family:Cambria;color:#47476B;font-size:5px;
}

