﻿.Menu ul
{  
    background:white; /*#7795BD;*/
}
.Menu ul 
{
    background:#ACC2E5 
    text-align:left;
    width:200px;
    height:30px;
}
.Menu  li
{
    background:#ACC2E5 
    text-align:left;
    width:200px;
    height:30px;
}
.Menu ul li a
{
    color: green; /*navy;*/
    padding: 3px 2px 8px;
    padding-left:8px !important;
    border:1px solid silver;
    border-top: 0;
}
.Menu ul li a
{
    color: Yellow; /*Navy;*/
}

/*
.Menu ul
{  
    background:#7795BD;
}
.Menu ul li
{
    background:#ACC2E5 
    text-align:left;
    width:200px;
    height:35px;
}
.Menu ul li a
{
    color: navy;
    padding: 8px 2px 10px;
    padding-left:8px !important;
    border:1px solid silver;
    border-top: 0;
}
.Menu ul li a
{
    color: Navy;
}
*/
