﻿*
{
    margin: 0;
    padding: 0;
}
body
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
nav
{
    text-align: center;
    padding-top: 10px;
}
.menu li{
list-style: none;
float: left;
position: relative;
height: 40px;
width:150px;
}

.menu>li
{
-webkit-box-shadow: inset 0 0 10px #E31E24;
-moz-box-shadow: inset 0 0 10px #E31E24;
box-shadow: inset 0 0 10px #E31E24;

background-color: #B21C32 ;
background-image: -webkit-linear-gradient(#B21C32 , #E31E24);
background-image: -moz-linear-gradient(#B21C32 , #E31E24 );
background-image: -o-linear-gradient(#B21C32 , #E31E24);
background-image: linear-gradient(#B21C32 , #E31E24);
border-left: 1px solid #5f5f5f;
border-right: 1px solid #283C5F;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
 
}

.menu li:first-child{
border-radius: 3px 0px 0px 3px;
border-left: none;
}

 .menu li:last-child{
 border-radius: 0px 3px 3px 0px;
 border-right: none;
 }

.menu a{
display: block;
text-decoration: none;
color: white;
padding: 0 10px;
font-family: 'Verdana', arial;
margin: 0;
position: relative;
font-size: 12px;
line-height: 40px;
}

.menu li:hover
{
 
-webkit-box-shadow: inset 0 0 10px #CC1B20;
-moz-box-shadow: inset 0 0 10px #CC1B20;
box-shadow: inset 0 0 10px #CC1B20;
background-color: #CC1B20 ;
background-image: -webkit-linear-gradient(#CC1B20 , #CC1B20);
background-image: -moz-linear-gradient(#CC1B20 , #CC1B20);
background-image: -o-linear-gradient(#CC1B20 , #CC1B20);
background-image: linear-gradient(#CC1B20 , #CC1B20);
}

.menu li:hover span:after{
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);
}

ul.menu-hover{
visibility: hidden;
position: absolute;
top:100%;
opacity: 0;
height: 0;
width: 150px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.menu li:hover .menu-hover{
visibility: visible;
height: 100%;
opacity: 1;
}

.menu-hover li
{

height: 100%;
border-bottom: 1px solid #90a4ca;
background-image: -webkit-linear-gradient(#EBDDDD, #EBDDDD);
background-image: -moz-linear-gradient(#EBDDDD, #EBDDDD);
background-image: -o-linear-gradient(#EBDDDD, #EBDDDD);
background-image: linear-gradient(#EBDDDD, #EBDDDD);
box-shadow: inset 0 0 10px #C39A9A;
border-left: none;
border-right: none;
}

.menu-hover li:hover
{
-webkit-box-shadow: inset 0 0 10px #CC1B20;
-moz-box-shadow: inset 0 0 10px #CC1B20;
box-shadow: inset 0 0 10px #CC1B20;
background-color: #CC1B20 ;
background-image: -webkit-linear-gradient(#CC1B20 , #CC1B20);
background-image: -moz-linear-gradient(#CC1B20 , #CC1B20);
background-image: -o-linear-gradient(#CC1B20 , #CC1B20);
background-image: linear-gradient(#CC1B20 , #CC1B20);

}

.menu-hover a{
color: #E31E24;
}
.menu-hover a:hover{
color: white;
}
.menu a span:after{
content: "";
border-left: 3px solid transparent;
border-right: 3px solid transparent;
border-bottom: 3px solid white;
position: absolute;
top: 30px;
right: 35px;

-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out; 
}

.menu-hover li:first-child, .menu-hover li:last-child{
border-radius: 0;
}

.menu a:after {
    background: rgba(255,255,255,.07);
    content: "";
    
    left: 0;
    position: absolute;
    width: 100%;
}
h2 
    {
	    display: block;
	    -webkit-margin-before: 0.83em;
	    -webkit-margin-after: 0.83em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    font-weight: bold;
	    font-size: 16px;
	    padding-top: 8px;
	    padding-bottom: 8px;
	    width: 80%;
	    height:30%;
	    background-color: #EBDDDD;
	    padding-left: 10px;
	    color: #B21C32;
	    text-align:left;
	    border-top-right-radius: 20px;
	    border-bottom-right-radius: 20px;
    }