﻿*                           {	padding:0; margin-left: 0px; margin-right: 0px;
}
img                         {	cursor:hand;                                                                                                            }
body             {   background-color:transparent; color:#47476B; font-family: Cambria; font-size: 10pt; text-align: left; margin:0px;     }
div,ul,li              {   background-color:transparent; color:#47476B; font-family: Cambria; font-size: 10pt; text-align: left; margin:0px;     }

table                {   background-color:transparent; color:#47476B; font-family: Cambria; text-align: center;
}
tr,td                 {   background-color:transparent; color:#47476B; font-family: Cambria; font-size: 10pt; text-align: center;height:20px;
}

.NormalText
{
    font-family:Cambria;
    font-size:10pt;   
    border:1px solid #ccc;
    height:18px;
   
}
.NormalText:focus
{
   
    outline:none;   
    border-color:#e8c291;    
    box-shadow:0 1px 1px #e8c291 inset;
    
    
}
.ReadOnlyTextBox
{
    font-family:Cambria;
    background-color:#FFF0E6;
    font-size:10pt;
    text-transform:uppercase; 
    height:18px;  
}
}
.Content
{
	width:100%;
	height:450px;
}
td,th
{
    padding-left:0px;
    text-align:left;
}
.mainhead
{
   border:9px;background-color:#EEB8A6; height:25px;font-size:10;color:#47476B;
}

.sub_first
{
   background-color:#FFFFF0; height:15px;
   font-family:Cambria;color:#47476B;font-size:5px;
}

.sub_second
{
   background-color:#DEC9C2; height:15px;
   font-family:Cambria;color:#47476B;font-size:5px;
}

.dropdown select {
       border: 0 !important;           
      -webkit-appearance: none;          
      -moz-appearance: none;       
      background: url('http://eweb.emfil.org/image/sort_desc.png') no-repeat; 
      background-size:25px 25px;
      background-position:right;    
      width: 100px;           
      height:28px;  
     font-family:Cambria;
     font-size:10pt;   
     background-color :#f1f1f1;
     border:1px solid #ccc;
    -moz-border-radius:5px;
    -moz-box-shadow:0 1px 1px #ccc inset,0 1px 0 #fff;
    border-radius:5px;
    box-shadow:0 1px 1px #ccc inset,0 1px 0 #fff;       
}


.wait, .wait * { cursor: wait; }
.default, .default * { cursor: default; }