﻿    body 
    {
    	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    	font-size: 12px;
    	color: #d0262d;
    	background-color:#d0262d;
	    line-height: 18px;
    	height: 100%;
	    margin-top: 0px;
    }
    div	
    {	
	    padding-left:0px;
	    padding-top:0px;
	    padding-bottom:0px;	
	    margin:0px;
    }
    p 
    {
	    display: block;
	    -webkit-margin-before: 1em;
	    -webkit-margin-after: 1em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    text-align:justify;
    }
    h2 
    {
	    display: block;
	    -webkit-margin-before: 0.83em;
	    -webkit-margin-after: 0.83em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    font-weight: bold;
	    font-size: 16px;
	    padding-top: 8px;
	    padding-bottom: 8px;
	    width: 80%;
	    background-color: #EBDDDD;
	    padding-left: 10px;
	    border-top-right-radius: 20px;
	    border-bottom-right-radius: 20px;
	    color: #d0262d;
    }
   a 
    {
    	text-decoration: none;
    }
    a:-webkit-any-link 
    {
	    color: -webkit-link;
	    cursor: auto;
    }
    #QuickLinks  
    {
	    display: block;
	    height: 175px;
	    width: 333px;
	    float: left;
	   
	    background-position: 1px 11px;
    }
    #QuickLinks ul  
    {
	    display: block;
	    list-style-type: none;
	    padding-top: 10px;
    }
    #QuickLinks ul li  
    {
	    display: block;
	    list-style-type: none;
	    width: 165px;
	    float: left;
	    height: 26px;
    }
    #QuickLinks ul li a 
    {
	    display: block;
	    background-image: url(../PortalSupports/LinkButton.png);
	    background-repeat: no-repeat;
	    background-position: 3px center;
	    padding-top: 4px;
	    padding-bottom: 4px;
	    padding-left: 25px;
	    color: #d0262d;
    }
    #QuickLinks ul li a:hover 
    {
	    color: #000;
	    background-position: 4px;
    }

    .Box 
    {
	    display: block;
	    float: left;
	    height: 145px;
	    width: 270px;
	    padding-right: 5px;
	    padding-top:10px; 
	    padding-bottom:10px;
    }
    
    a:link, a:visited, a:active 
    {
	    color:Black
	    text-decoration: none;
    }
    a:hover 
    {
	    color:red;/*change*/

    }

#btnSignOut
{
    text-align:right;
    padding-left:8px;
    height:32px;
    width:32px;
    cursor:pointer;
}

#btnSignOut:hover
{
    height:35px;
    width:35px;
}
    
#FooterContent {
	display: block;
	height: 200px;
}
#FooterContent h3 {
	color: #333333;
	font-weight: bold;
	padding-top: 16px;
	display: block;
	padding-left: 10px;
	padding-bottom: 6px;
	height: 18px;
}
.BoxNew 
    {
	    display: block;
	    float: left;
	    height: 300px;
	    width: 550px;
	   
    }