﻿*                           {	padding:0; margin-left: 0px; margin-right: 0px;
}
img                         {	cursor:hand;                                                                                                            }
body,div,ul,li              {   background-color:transparent; color:#47476B; font-family: Cambria; font-size: 10.5pt; text-align: left; margin:0px;     }
table,tr,td                 {   background-color:transparent; color:#47476B; font-family: Cambria; font-size: 9.5pt; text-align: center;
}

.NormalText
{
    font-family:Cambria;
    font-size:10pt;    
}
.NormalText:focus
{
    border-style:solid;
    border-width:thin;    
    border-color:#CFEBFD;
}
.ReadOnlyTextBox
{
    font-family:Cambria;
    background-color:#FFF0E6;
    font-size:10pt;
    text-transform:uppercase;
}
.Content
{
	width:100%;
	height:450px;
}
td,th
{
    padding-left:0px;
    text-align:left;
}
.mainhead
{
   border:9px;background-color:#EEB8A6; height:25px;font-size:10;color:#47476B;
}

.sub_first
{
   background-color:#FFFFF0; height:15px;
   font-family:Cambria;color:#47476B;font-size:5px;
}

.sub_second
{
   background-color:#DEC9C2; height:15px;
   font-family:Cambria;color:#47476B;font-size:5px;
}

.wait, .wait * { cursor: wait; }
.default, .default * { cursor: default; }
 .buttonstyle1
{
   background-color:#FFCC99;
    outline-style:dotted;
    border: 1px solid yellow ;
    border-top:5px;
    border-style:groove;
   cursor: pointer;
 
   color:Silver;
}
.buttonstyle1:hover
{
   background-color:#FF9933;
   box-shadow:0 0 10px #FF99CC;
    color:Menu;
}
.Txtstyle2[type=text],textarea
{
    transition:all 0.30 ease-in-out;
    outline:none;
    border: 1px solid #666666;
}
.Txtstyle2[type=text]:focus,textarea:focus
{
    box-shadow:0 0 12px #FF99CC;
    border:1 px solid #FF6699;
}

.labelstyle1
{
   color:Black;
    outline:none;
    border: 2px solid #666666;
}