﻿<%@ Page Title="" Language="VB" MasterPageFile="~/REPORT.master" AutoEventWireup="false" CodeFile="PunchingCalendar.aspx.vb" Inherits="PunchingCalendar" EnableEventValidation="false" %>
<%@ MasterType VirtualPath="~/REPORT.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="CPH" runat="Server">
<html xmlns="http://www.w3.org/1999/xhtml">

<body style="background-color: Black;">
    <script language="javascript" type="text/javascript">
        function PrintPanel() {
            var panel = document.getElementById("<%=pnDisplay.ClientID %>");
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>ESAF</title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(panel.innerHTML);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            setTimeout(function () {
                printWindow.print();
            }, 500);
            return false;
        }
        function BackForm() {
            window.open("PunchingCalendar.aspx?FromDt=" + document.getElementById("<%=hdnPrevFirst.ClientID %>").value + ",&ToDt=" + document.getElementById("<%=hdnPrevLast.ClientID %>").value + ",&EmpCode=" + document.getElementById("<%=hdnEmpCode.ClientID %>").value + ",&EmpName=" + document.getElementById("<%=hdnEmpName.ClientID %>").value, "_self");
            return false;
        }
        function NextForm() {
            window.open("PunchingCalendar.aspx?FromDt=" + document.getElementById("<%=hdnNextFirst.ClientID %>").value + ",&ToDt=" + document.getElementById("<%=hdnNextLast.ClientID %>").value + ",&EmpCode=" + document.getElementById("<%=hdnEmpCode.ClientID %>").value + ",&EmpName=" + document.getElementById("<%=hdnEmpName.ClientID %>").value, "_self");
            return false;
        }
        function CloseForm() {
            window.open("<%= Page.ResolveUrl("~")%>Home.aspx", "_self");
            return false;
        }
    </script>
    <form id="form1" runat="server">
    <div style="width: 70%; background-color: white; min-height: 750px; margin: 0px auto;">
        <div style="text-align: right; margin: 0px auto; width: 95%; background-color: white;">
            <asp:HiddenField ID="hdnReportID" runat="server" />
            <asp:HiddenField ID="hdnPrevFirst" runat="server" />
            <asp:HiddenField ID="hdnPrevLast" runat="server" />
            <asp:HiddenField ID="hdnNextFirst" runat="server" />
            <asp:HiddenField ID="hdnNextLast" runat="server" />
            <asp:HiddenField ID="hdnEmpCode" runat="server" />
            <asp:HiddenField ID="hdnEmpName" runat="server" />
            <asp:ImageButton ID="cmd_Back" Style="text-align: left; float: left; padding-top: 5px;"
                runat="server" Height="35px" Width="35px" ImageAlign="AbsMiddle" ImageUrl="~/Image/previous.jpg"
                ToolTip="Previous" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:ImageButton ID="cmd_Next" Style="text-align: left; float: left;
                padding-top: 5px;" runat="server" Height="35px" Width="35px" ImageAlign="AbsMiddle"
                ImageUrl="~/Image/next.jpg" ToolTip="Next" />
            <asp:ImageButton ID="cmd_Print" Style="text-align: right;" runat="server" Height="40px"
                Width="40px" ImageAlign="AbsMiddle" ImageUrl="~/Image/print.png" ToolTip="Click to Print" />            
            &nbsp;&nbsp;<asp:ImageButton ID="cmd_Close" Style="text-align: right;" runat="server"
                Height="40px" Width="40px" ImageAlign="AbsMiddle" ImageUrl="~/Image/close1.png"
                ToolTip="Close" />
        </div>
        <br style="background-color: white" />
        <div style="text-align: center; margin: 0px auto; width: 95%; background-color: #FFFFFF;">
            <asp:Panel ID="pnDisplay" runat="server" Font-Names="Cambria,Franklin Gothic Medium"
                Width="100%">
            </asp:Panel>
        </div>
    </div>
    </form>
</body>
</html>
</asp:Content>