﻿<%@ Page Title="" Language="VB" MasterPageFile="~/REPORT.master" AutoEventWireup="false"
    CodeFile="ShowFormat.aspx.vb" Inherits="Leave_ShowVetFormat" EnableEventValidation="false" %>

<%@ MasterType VirtualPath="~/REPORT.master" %>
<asp:Content ID="Content2" ContentPlaceHolderID="CPH" runat="Server">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
</asp:Content>
