﻿<%@ Page Title="" Language="VB" MasterPageFile="~/ESFB.master" AutoEventWireup="false" CodeFile="EquiFaxCCODCheck.aspx.vb" Inherits="Bank_EquiFaxCCODCheck" %>

<asp:Content ID="Content1" ContentPlaceHolderID="CPH" Runat="Server">
    <iframe  src="http://10.65.0.71:81/EQUIFAX/EquifaxReport" name="targetframe" scrolling ="yes" frameborder ="0" style ="width:100% ;height:1000px"></iframe>
</asp:Content>

